.about_section_title,
.about_section_subtitle {
    text-align: center;
    margin-top: 0.375rem;
}

.about_container {
    display: grid;
    left: 10px;
    grid-template-columns: auto auto;
    gap: 3rem;
    margin-top: 70px;
}

.about_data_right {
    width: 600px;
    height: 300px;
    bottom: 450px;
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    column-gap: 1.875rem;
    align-items: flex-start;
    text-wrap: wrap;
}

.about_info {
    width: 600px;
    position: relative;
    justify-self: center;

}

.about_data_left {
    justify-self: right;
}

.about_description {
    padding-top: 10px;
    text-align: justify;
    margin-bottom: 1rem;
    width: 530px;
}

.button {
    margin-top: 70px;
    position: relative;
}

.about_img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /*box-shadow: 0px 0px 0px 15px rgb(255 77 97 /25%);*/

}



/*=========================== contact icons ===========================================*/

.Contact {
    position: relative;
    display: grid;
    column-gap: 1.75rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 1.3rem);
}

.contact_linkedin {
    color: var(--title-color);
    font-size: 1.3rem;
    transition: 0.3s;
}

.contact_linkedin:hover {
    color: var(--first-color);
}

.contact_github {
    color: var(--title-color);
    font-size: 1.3rem;
    transition: 0.3s;
}

.contact_github:hover {
    color: var(--first-color);
}

.contact_pixiv {
    color: var(--title-color);
    font-size: 1.3rem;
    transition: 0.3s;
    margin-left: 6px;
}

.contact_pixiv:hover {
    color: var(--first-color);
}

.contact_email {
    color: var(--title-color);
    font-size: 1.3rem;
    transition: 0.3s;
}

.contact_email:hover {
    color: var(--first-color);
}

/*============ BREAKPOINTS ==============*/
/* LARGER DEVICES */
@media screen and (max-width: 1024px) {


    .about_container {
        display: grid;
         padding: 2rem 10rem; 
        left: 10px;
        /* grid-template-columns: repeat(auto-fit, 300px); */
        justify-content: center;
    }

    .Contact {
        font-size: 1.125rem;
        justify-self: center;

    }

    .about_img {
        justify-self: center;
    }

    .about_data_right {
        text-align: center;
        justify-self: center;
    }

    .about_button {
        margin-right: 100px;
        margin-top: 30px;
        position: relative;
    }
}

/* MEDIUM DEVICES */

@media screen and (max-width: 768px) {
    .about_container {
        display: grid;
         padding: 2rem 10rem; 
        left: 10px;
        grid-template-columns: repeat(auto-fit, 300px); 
        justify-content: center;
    }

    .about_button {
        margin-right: 100px;

    }

    .about_data_right {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;

    }

    .about_img {
        justify-self: center;
    }

    .Contact {
        justify-self: center;
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    .about_container {
        grid-template-columns: repeat(auto-fit, 300px);
    }

    .about_data_right {
        justify-self: center;
        width: 400px;
        height: 400px;
    }

    .about_info {
        width: 400px;
    }

    .about_description {
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 1rem;
        width: 320px;
    }
}

@media screen and (max-width: 425px) {
    .about_container {
        grid-template-columns: repeat(auto-fit, 200px);
    }

    .about_data_left {
        justify-self: auto;
    }

    .about_data_right {
        justify-self: center;
        width: 350px;
        height: 400px;
    }

    .about_info {
        width: 300px;
    }

    .about_description {
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 1rem;
        width: 280px;
    }

    .about_img {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        /*box-shadow: 0px 0px 0px 15px rgb(255 77 97 /25%);*/

    }

    .Contact {
        font-size: 1.125rem;
        justify-self: center;

    }
    .about_button{
        height: 3rem;
        margin-right: 0;

    }
}

/* SMALL DEVICES */
@media screen and (max-width: 370px) {
    .about_container {
        grid-template-columns: 1fr;
    }
}