.footer {
    border-top: 1px solid var(--container-color);
    color: #bed0cb;
}

.footer_container {
    padding: 2rem 0 6rem;
    background-color: #ccdede;
}

.footer_title,
footer_link {
    color: var(--title-color);
}

.footer_title {
    font-family: 'Lobster', sans-serif;
    font-size: 3rem;
    color: #ded5af;
    text-shadow: 1px 1px 2px #708890;
    text-align: center;
    margin-bottom: var(--mb-2);

}

.footer_subtitle {
    font-family: 'Lobster', sans-serif;
    color: #7f98a0;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer_link {
    color: #708890;
}

.footer_list {
    color: #708890;
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer_contact {

    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}


.footer_contact-link {
    color: #708890;
    ;
    font-size: 1.3rem;
    transition: 0.3s;
}

.footer_contact-link:hover {
    color: var(--first-color);
}

.footer_link:hover {
    color: var(--first-color);
}

.footer_copy {
    display: block;
    margin-top: 1.5rem;
    color: #708890;
    ;
    text-align: center;
    font-size: var(--smaller-font-size);
}

/*============ BREAKPOINTS ==============*/
/* LARGER DEVICES */
@media screen and (max-width: 992px) {
    .footer_contact-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}

/* MEDIUM DEVICES */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

/* SMALL DEVICES */
@media screen and (max-width: 350px) {}